{% extends 'CustomerBundle::layout.html.twig' %}

{% block javascripts %}
    <script>
        var ajaxProductCountUrl = "{{ path('product_count',{ 'id': '__id__'}) }}";
        var ajaxProductSearchUrl = "{{ path('product_search') }}";
    </script>
    {{ parent() }}
    <script src="{{ asset('bundles/customer/js/order.form.js') }}"></script>
{% endblock %}

{% block body -%}
    <h1>Order creation</h1>

    {{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_row(form.customer) }}

    {{ form_row(form.date) }}

    {{ form_row(form.orderProducts) }}

    {{ form_row(form.sum,{'attr' : {'class' : 'orderSum'}}) }}

    {{ form_end(form) }}


    <ul class="record_actions">
        <li>
            <a href="{{ path('order') }}">
                Back to the list
            </a>
        </li>
    </ul>

{% endblock %}
